body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}


.header,
.footer {
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  border-bottom: 1px solid gray;
}

.content {
  min-height: calc(100vh - 100px);
}

.footer {
  border-top: 1px solid gray;
}
  

